body {
  background-color: #fefefe;
}

@media(max-width: 500px) { 
  .pageInfo  {
    font-size: 50%;
  }
 }

#first {
  background-image: url("images/guitar-1913837_1920-flames.png");
  background-size: cover;
  background-position: center;
}

#email {
  display: flex;
  height: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

#description {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 2vh;
}

#inventory {
  background-color: #050002;
  display: flex;
}

p {
  margin-top: 2vh;
}

.subHeading {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 5.5vh;
}

.navbar {
  border-bottom: 1px;
}

.jumbotron {
  background-color: transparent;
  width: 100vw;
  height: 75vh;
  text-align: center;
  color: ghostwhite;
  text-shadow: 0rem; 
}

.pageInfo {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.pageInfo h3 {
  color: ghostwhite;
  display: block;
  text-align: center;
  margin-top: 4vh;
  margin-bottom: 3vh;
}

.card {
  background-color: ghostwhite;
  display: flex;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
  object-position: center;
}
iframe {
  width: 560px;
  display: block;
  margin: 0 auto;
}

.footer {
  padding-top: 2vh;
  padding-bottom: 1vh;
  background-color: transparent;
  text-align: center;
  font-size: 10px;
  display: flex;
}